*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #191919;
}
.gallery{
    width: 900px;
    display: flex;
    overflow-x: scroll;
}
.gallery div{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap:20px;
    padding: 10px;
    flex: none;
}
.gallery div img{
    width: 100%;
    filter: grayscale(100%);
    transition: transform 0.5sec;
}
.gallery::-webkit-scrollbar{
    display: none;
}
.gallery-wrap{
    margin: 10% auto;
    align-items: center;
    justify-content: center;
    display: flex;
}
#backbtn, #nextbtn{
    cursor: pointer;
    margin: 40px;
    width: 50px;
}
.gallery div img:hover{
    filter: grayscale(0);
    transform: scale(1.1);
    cursor: pointer;
}
